[2015-12-08 15:13] omaciel opened #6 "Add a README file"
Add a `README` file containing some basic information about the project and pointing to official documentation via `ReadTheDocs` link.

[2015-12-08 15:14] omaciel opened #7 "Add Documentation"
Add some basic documentation about the project and its supported commands. Docs should be hosted on `ReadTheDocs` and linked from the project's `README` file.

[2015-12-08 15:15] omaciel opened #8 "Add tests and coverage information for the project"
We need to write tests for Betelgeuse.

[2015-12-10 12:02] elyezer commented on #8
:+1:

[2015-12-10 12:02] elyezer commented on #7
:+1:

[2015-12-10 12:02] elyezer commented on #6
:+1:

[2015-12-10 13:39] elyezer commented on #8
Testing betelgeuse on travis will be hard since pylarion is not public available. For more info check: https://travis-ci.org/SatelliteQE/betelgeuse/builds/96028707

[2015-12-10 13:58] elyezer commented on #8
I was able to work around this issue by creating https://github.com/elyezer/fake_pylarion which is a fake package that offers all required imports.

[2015-12-10 16:10] sthirugn commented on #8
@elyezer how many imports/functions we talking? Can we use mock for testing?

[2015-12-10 17:15] elyezer commented on #8
@sthirugn even though we will be using mock, we need to import the betelgeuse module in order to test its functions. There is no other way to handle that since we need to call the real betelgeuse functions.

[2015-12-11 15:31] #6 closed

[2015-12-11 16:54] elyezer commented on #8
Even though the test coverage status is being reported on README I will close this when I get a decent coverage number.

[2015-12-11 16:54] elyezer commented on #7
In progress.

[2015-12-11 17:27] sthirugn commented on #8
@elyezer ty for explanation.

[2016-01-29 16:06] omaciel opened #24 "Make sure that Test Cases set some specific fields"
Whether creating for the first time or updating existing `Test Cases`, the following fields should be set:

- [x] Title - Short description of the test case
- [x] Status - (defaults to `DRAFT` but other acceptable values are `PROPOSED`, `NEEDS UPDATE`, `APPROVED` and `INACTIVE`)
- [x] Test Type - (defaults to `FUNCTIONAL` but other acceptable values are `NON-FUNCTIONAL` and `STRUCTURAL`)
- [x] Sub

[2016-02-15 22:42] omaciel opened #26 "Fetch the `caseautomation` field for a Test Case"
Now that `Pylarion` allows us to query for the `caseautomation` custom field, we should make sure that we explicitly query for it [here](https://github.com/SatelliteQE/betelgeuse/blob/master/betelgeuse.py#L215-L216)

[code]

Now, when considering whether to update a Test Case or not, we no longer should have to fetch it first just to get access to its `caseautomation` field, as shown [here](https:

[2016-02-18 14:21] omaciel opened #28 "Set some custom fields when creating Test Runs"
When we create a new Test Run, let's set the following custom fields:

* Automated: True
* Arch: x86_64
* Variant: Server
* Build: Satellite x.y.z Compose n - OS version

![screenshot 2016-02-18 09 20 50](https://cloud.githubusercontent.com/assets/53362/13145859/fec77d6a-d620-11e5-9f87-c06c8bb042da.png)

[2016-02-18 14:23] #26 closed

[2016-02-22 16:40] elyezer commented on #28
We need OS to be added to the list of custom fields. I have a code for these options already.

[2016-04-01 09:43] Akasurde opened #32 "Need support for adding test setup"
Would love to see if we can update test setup in Polarion using betelgeuse

[2016-04-01 10:09] amsharma3 commented on #32
Betelgeuse is currently taking the docstring from test cases and putting that into the description field of Polarion. It will be nice if all the information in docstring can go to the specific field ::

For Example :

[code]

Steps should go in Test Steps and Assert should go in expected result.

[2016-04-17 11:10] elyezer commented on #7
Done

[2016-04-17 11:10] #7 closed

[2016-04-18 22:48] #8 closed

[2016-04-28 21:02] elyezer opened #36 "Make Betelgeuse more configurable"
Currently Betelgeuse parses the test docstrings and assign fields in a way that does not apply to every scenario. This means that some of the default values may not be available on all Polarion projects, Polarion custom fields can be created per project basis and Betelgeuse will not be able to fill all of them, the user may want to apply its own rules to generate Requirements, field values, test c

[2016-05-03 21:32] spoore1 opened #37 "Support test case steps for import as steps"
Can betelgeuse import test case steps into the polarion test case step fields instead of the description field?

[2016-05-03 21:54] omaciel commented on #37
@spoore1 not yet :/

[2016-05-04 01:26] elyezer commented on #24
Closing this in favor of the new required fields.

[2016-05-04 01:26] #24 closed

[2016-05-04 01:28] elyezer commented on #32
This is already implemented.

[2016-05-04 01:28] #32 closed

[2016-05-04 06:49] amsharma3 opened #38 "RFE :: Steps should go in Test Steps and Assert should go in expected result."
Betelgeuse is currently taking the docstring from test cases and putting that into the description field of Polarion. It will be nice if all the information in docstring can go to the specific field ::

For Example :

@Feature: Replication

@Setup: Four masters, replication is configured

@Steps:

1. Install four instances of Directory Server on same host i.e. M1, M2, M3, M4
2. Configure two way r

[2016-05-04 06:51] Akasurde commented on #38
+1

[2016-05-24 16:46] RonnyPfannschmidt opened #39 "Make Betelgeuse parse jUnit XML with parametrized tests"
py.test supports various ways of parameterizing and collecting tests, that do not fit the limited unit-test model
so we cant hope to use it for cfme for example

[2016-05-24 18:17] elyezer commented on #39
Can you elaborate a little bit more why passing a path would not help? Is that related to how a method or function is identified as being a test?

[2016-05-24 18:27] elyezer commented on #37
Closing in favor of #38

[2016-05-24 18:27] #37 closed

[2016-05-24 20:41] RonnyPfannschmidt commented on #39
py.test tests are identified by a node id consisting of file-name, a object path, and a parameter set

[2016-05-27 14:21] elyezer commented on #39
@RonnyPfannschmidt can you provide a sample file with a sample py.test call please?

I use py.test for capturing Python unittest tests and since I am not too familiar with tests written using the py.test way that will help clarify what is really needed.

[2016-05-27 14:45] RonnyPfannschmidt commented on #39
[code]

results in

[code]

[2016-05-27 16:57] elyezer commented on #39
@RonnyPfannschmidt thank you. That makes things more clear, I know that py.test can be called from another python script, need to check how to deal with test discovery.

What is your suggestion to do with the parameters? What should be done on Polarion? Should it create a different test case using the same docstring for all permutations?

[2016-05-28 10:37] RonnyPfannschmidt commented on #39
i am not yet sure what to do with parameters and their mapping to polarion
py.test can be invoked from a process, and it can also be handed a plugin to catch the reports

[2016-05-30 13:15] elyezer commented on #39
@RonnyPfannschmidt thanks for all the clarification. If you have any examples about calling py.test from a process that will help, even better if you want to contribute the code yourself.

[2016-05-30 13:48] RonnyPfannschmidt commented on #39
the most simple way to run one py.test run with a custom plugin is

[code]

[2016-06-02 06:15] Akasurde opened #41 "Support for additional parameters"
This is tracking bug for adding additional parameters required for Polarion.

Currently,

1. casecomponent
2. caseimportance

is not supported.

[2016-06-06 11:00] Akasurde opened #43 "Add testcases to existing requirements"
Betelgeuse should support adding testcases to existing requirements available on Polarion.

[2016-06-06 11:04] Akasurde opened #44 "Description contains all tags"
Currently betelgeuse adds docstring into description of testcase. Instead, it should only add testcase description in Polarion.

![screenshot from 2016-06-06 16-32-57](https://cloud.githubusercontent.com/assets/633765/15820064/78bdf02a-2c04-11e6-87b1-830fd34a4320.png)

[2016-06-07 00:09] omaciel commented on #43
Thank you @Akasurde We will try to work on this issue this Friday.

[2016-06-07 00:09] omaciel commented on #44
Thank you @Akasurde We will try to work on this issue this Friday.

[2016-06-07 07:08] Akasurde commented on #43
@omaciel I would love to work on this issue. Let me know if I can help you in this.

[2016-06-07 07:11] Akasurde commented on #44
@omaciel I would like to work on this issue. Let me know if I can help you with this.

[2016-06-07 14:24] omaciel commented on #44
@Akasurde sure thing, your help will be greatly appreciated

[2016-06-07 14:24] omaciel commented on #43
@Akasurde sure thing, your help will be greatly appreciated

[2016-06-07 14:53] elyezer commented on #44
@Akasurde the issue is all yours. I have assigned you to it.

[2016-06-11 02:42] elyezer commented on #43
ea9c94504d3d68010b25a6d970fe50a3c5981cdc introduces the ability of defining a Requirement for each test method, test case class or test module. Just specify `@requirement` and use a already created requirement name or if no requirement is found then betelgeuse will create one.

[2016-06-11 02:42] #43 closed

[2016-06-23 14:33] #41 closed

[2016-06-24 12:58] elyezer commented on #41
:+1:

[2016-06-27 17:45] #44 closed

[2016-06-28 19:28] elyezer opened #48 "Update requirement even if the test case is already created"
One may want to update the requirement of a test case. Betelgeuse should check for the necessity of linking a requirement not only on test case creation but also on update.

[2016-06-28 19:30] elyezer opened #49 "Update documentation"
Betelgeuse have received a lot of improvements and the documentation is missing them. Documentation should be update in order to match the current Betelgeuse state.

Should be covered some topics like how to define test docstring, the tokens betelgeuse expects to be defined and the changes on the test-run command in order to map the test IDs with the jUnit results.

[2016-06-29 17:23] omaciel opened #50 "Allow Test Run types to be passed when creating a new Test Run"
As per existing information in Polarion, a `Test Run` can have a `type` of one of the following:

* buildacceptance
* regression
* featureverification

I'd like for the `test-run` method to accept a `type` parameter with a default of `buildacceptance` if none are passed.

[2016-06-29 19:50] omaciel opened #51 "Test Runs created by Betelgeuse should set the `isautomated` flag to True"
Since `Test Runs` created by Betelgeuse are populated with data from automated test runs, it makes sense to set the `isautomated` attribute to `True`. Perhaps this should be an option (default to `False`?) passed to the `test-run` method?

[2016-06-29 19:55] elyezer commented on #51
Betelgeuse test-run expects a jUnit XML report which is supposed to be created from a test suite run. I think that it can have the default of True giving that. And have the option to set to false if it is an especial case.

[2016-06-29 20:43] omaciel commented on #51
This should be of help:

[code]

[2016-07-04 12:50] #50 closed

[2016-07-04 13:07] #51 closed

[2016-07-04 14:01] elyezer commented on #38
This will require some design decision because each test step have an expected result in Polarion.

My idea on solving this is:

Expect a list for steps and a list for assert. Then each element of one list will mapped to the same index of the other list (example 1). If it is a single item, then there is no need to use the list syntax (example 2). If neither of the mentioned is found then step's co

[2016-07-04 17:01] Akasurde commented on #38
@elyezer What if we have example something like this,

[code]

+1 for renaming `expectedresults`

[2016-07-04 18:00] elyezer commented on #38
@Akasurde that will generate one step with the content of:

[code]

And the expected result of:

[code]

The render on Polarion will be something like

<table>
<tr>
  <td>Step 1</td>
  <td><ol><li>First Step</li><li>Second Step</li><li>Third Step</li></td>
  <td><ol><li>Final result</li></ol></td></tr>
</table>

[2016-07-04 19:46] #38 closed

[2016-07-04 20:00] elyezer commented on #28
Automated flag is already added, currently missing:
- [ ] Arch
- [ ] Variant
- [ ] Build

[2016-07-05 11:10] elyezer commented on #28
The above variables are custom fields. That said it may differ from one project to the other and a generic way of passing that information should be created.

For example one possible solution is to expect `--custom-fields` option that can be specified multiple times and expect a `key=value` format or even a JSON dict like `{"isautomated": true, "arch": "x86_64"}`. The later will ensure custom fie

[2016-07-05 15:14] omaciel commented on #28
Agreed with the `--custom-fields` option as it will allow anyone to pass whatever values that want. Obviously it would be up to the user to pass valid values ;)

[2016-07-07 06:47] madhuriupadhye opened #52 "Warning message is also added in that particular section along with text."
Suppose after running the .py file contains some warning like (WARNING/2) Enumerated list ends without a blank line; unexpected unindent for steps section then it was added in steps section of polarion with steps.
![screenshot from 2016-07-07 12 10 26](https://cloud.githubusercontent.com/assets/18697962/16644663/481f5ff8-443c-11e6-8b27-2d53c2c8bbeb.png)

[2016-07-07 12:45] elyezer commented on #52
@madhuriupadhye thank you for creating the issue. Make sure you have the valid Restructured Text before running Betelgeuse. I think it is able to remove that warning, but having that makes us aware that our RST formatting is not good.

I've been thinking on a way to fix it, but I have not decided what is best, skip the test case if the parse can't be successfully completed (which is bad because th

[2016-07-07 12:46] elyezer commented on #52
Removing the bug label since this is not a Betelgeuse bug but a feature to notify when bad RST docstring is received.

[2016-07-07 12:51] sthirugn commented on #52
@madhuriupadhye can you paste the test docstring test case which created this error?

[2016-07-07 13:02] elyezer commented on #52
The issue is mostly like because the second line of item 4 was not indented, it should be like this:

[code]

While it should be something like:

[code]

[2016-07-08 13:46] amsharma3 opened #54 "Need an option to specify the token mark for example use :...: instead of @...:"
It will be great if I can use :...: instead of @....: in my source code file for betelgeuse.

For example the following docstring:

[code]

Would be like this:

[code]

[2016-07-08 16:20] sthirugn opened #55 "Improve docs on default values and minimum tokens"
https://github.com/SatelliteQE/betelgeuse/pull/53#discussion_r70012644

[2016-07-08 16:20] sthirugn opened #56 "Improve docs based on @omaciel's comments"
https://github.com/SatelliteQE/betelgeuse/pull/53#issuecomment-231204419

[2016-07-08 19:31] sthirugn commented on #54
This is more of a testimony enhancement and is nothing to do with betelgeuse.  I believe the part of the code which handles is the regex - https://github.com/SatelliteQE/testimony/blob/master/testimony/parser.py#L7

[2016-07-08 19:52] #49 closed

[2016-07-11 13:39] elyezer commented on #54
@sthirugn we have two options here. One is make Betelgeuse configure the Testimony regex depending on the option it receives, and the other is to make both adapt to the token prefix.

I am in favor of improving both, what do you think?

This issue will be closed when the token prefix is able to be specified.

[2016-07-11 13:43] sthirugn commented on #54
I agree with the approach of fixing both.  This will be a great improvement for both the tools.

[2016-07-11 13:52] elyezer commented on #54
Depends on https://github.com/SatelliteQE/testimony/issues/108

[2016-07-12 17:23] #56 closed

[2016-07-12 17:31] omaciel opened #58 "RFE: Add functionality that supports the creation of Test Plans"
We should be able to create new Test Plans (plans or iterations) via Betelgeuse.

[2016-07-13 19:40] elyezer commented on #58
Added by #60

[2016-07-13 19:40] #58 closed

[2016-07-13 19:41] omaciel opened #61 "Add documentation about new test-plan command"
We just added a new `test-plan` command and need to properly document it.

[2016-07-15 15:41] #28 closed

[2016-07-15 15:42] elyezer opened #62 "Add documentation for the new --custom-fields option for test-run command"
Add some examples and documentation about the new added --custom-fields option for the test run command.

[2016-07-15 17:08] elyezer opened #63 "Skip test case creation for tests with invalid fields values"
Test case command should not stop when a invalid value is provided and a `PylarionLibException` is raised.

[code]

[2016-07-18 15:04] #61 closed

[2016-07-18 15:04] #62 closed

[2016-07-18 15:09] sthirugn commented on #55
@elyezer: This is already addressed in testimony - http://testimony-qe.readthedocs.io/en/latest/#test-case-docstring-format  Do you think we need more doc?

[2016-07-19 13:13] elyezer commented on #55
@sthirugn I think we should add a section to the betelgeuse documentation saying what are the fields it will be looking for populate Polarion. I think that because betelgeuse have it's own expected tokens and we should let the user know what the tokens are.

This will help the user identify when some information is not being captured, it could be a misspell or an invalid token defined.

[2016-07-20 17:00] spoore1 opened #65 "Using the @title token for polarion test case title"
Can we have the option (via command line arg) to use the test case Test token for the polarion test case title on import?

I would like to use this instead of using the python module, class, method/function names.

[2016-07-20 17:39] sthirugn commented on #65
Can you please explain the use case by showing the command that you are trying to use?

[2016-07-20 19:09] spoore1 commented on #65
Well, I hadn't actually started running it for this particular query yet.

Here's an example though:

[code]

Then I run this:

[code]

I'm looking for a way to tell betelgeuse to use "Test Case 0001" for the test case title in polarion instead of test_case_0001.

So, I was thinking something like:

[code]

[2016-07-20 19:32] elyezer commented on #65
I think a good solution would be to add an option that allows you specify a polarion field to be mapped to the first line of the docstring. This way we have the flexibility of defining what to map for the first line.

Worth mention that it will only grab the first line not the first paragraph. On the Betelgeuse code this will be checked before assigning any token, so if the field is present on the

[2016-07-20 21:01] spoore1 commented on #65
That would work.  And like you said would allow more flexibility since I think some people use Description similar to how my team uses Title.

One thing, though.  I thought testimony used the first line of docstring as Test now.  Are you suggesting that change too?

[2016-07-21 13:07] elyezer commented on #65
Short answer, yes.

Long answer, Testimony currently does use the first line as test, but a new option should be added to it since one may not pass the `test` as being a valid token, currently it will be bypassed and the `test` token will be created.

[2016-07-21 13:09] elyezer commented on #65
I've opened https://github.com/SatelliteQE/testimony/issues/118 to fix on testimony and then bring to Betelgeuse

[2016-07-21 21:23] omaciel opened #66 "Mark --path and --path-to-source as required fields when using test-run"
Seems that one needs to pass both `--path` and `--path-to-source` when using `test-run` or Betelgeuse will attempt to open files that were not provided:

[code]

Since [source_code_path](https://github.com/SatelliteQE/betelgeuse/blob/master/betelgeuse.py#L743) is required for a `Test Run`, we should possibly:
- Make sure that the parameter is a requirement
- Consider any other additional checks th

[2016-07-22 13:52] elyezer opened #67 "Document how steps and expected results works"
Make sure to make clear how the mapping between steps and expected results works and provide some examples.

[2016-07-25 17:20] spoore1 opened #68 "failure when using Id token"
While looking at SatelliteQE/betelgeuse#65 I looked at the betelgeuse code and I noticed in add_test_case:

[code]

So, I thought I'd try to use that to set the test case "title" in polarion:

[code]

But, I see this error:
[code]

That error, I think is related to the test_case_id including spaces.  I added a simple patch to my local copy to add quotes:
[code]
That seemed to resolve the issue I w

[2016-07-25 18:14] spoore1 commented on #68
FYI, I coupled that fix above with another slight modification here:

https://github.com/spoore1/betelgeuse/commit/6f37fd11bae202fe2783507147fa71b01c38d1b3

Not sure if this is something we want long term since you're working on other solutions.  But, FYI, I was able to get it to import cases using the Id token as the test title that way.

[2016-07-25 18:58] omaciel commented on #68
hmmmm we treat `title` and `id` as 2 different, distinct parameters, where the `id` is a unique field to help us locate a test case. The `title` however would be the [first line](https://github.com/SatelliteQE/testimony/blob/master/testimony/__init__.py#L112-L116) found in the docstring:

[code]

[2016-07-25 20:54] spoore1 commented on #68
I need to set the polarion test case "title" which I think is actually accessed via pylarion as the test case "name" right?

And, yeah, when I add Id token entry to first line, the @Id: is included in the title as well.  Is the testimony title imported to polarion in any way for test cases?

FYI, this case was really just meant to show that error and adding quotes around the test_case_id.   Not su

[2016-07-25 21:10] omaciel commented on #68
@spoore1 send in a PR and let's have a discussion about it. It is true that the polarion title is derived from the test case name (which would be the name of your python test method). You want to specify a different name instead, right? Like `@Title: Foo bar`.

[2016-07-26 12:24] elyezer opened #70 "Improve test-plan command"
Make test plan set other fields like status and custom fields.

[2016-07-26 19:23] elyezer commented on #66
A better approach is to make then a argument instead of a option. By definition an option is optional so an argument is better suited.

[2016-07-26 19:24] elyezer commented on #68
I think if `@title` is present use that otherwise use the test method name would be a good resolution.

[2016-07-26 20:22] spoore1 commented on #68
Yes, I want to specify the polarion test case name somewhere per case.  At the moment, my "patch" just allows me to use Id token but, I am by no means opposed to using Title.  That makes more sense I think but, that doesn't work now does it?

I just saw the comment about @Id and thought I'd try that.

[2016-07-26 22:43] spoore1 commented on #68
@omaciel I created a PR with both the test_case_id quoting and new changes to allow using Title token for test.name per suggestion from @elyezer .  I did have a slight deviation where I let it use Title first, Id if no Title, and then function if neither.

I guess at this point, this thread can be closed and discussion can move to that PR?

[2016-07-27 19:40] elyezer commented on #68
@spoore1 let's close this when the PR is merged. I will take some time and review it.

[2016-07-27 20:12] sthirugn opened #72 "Improve test-plan unit tests and documentation to show examples of custom-field updates"
After https://github.com/SatelliteQE/betelgeuse/pull/69 is merged

- [x] Add unit tests
- [ ] Add documentation

[2016-07-27 20:12] sthirugn commented on #70
Addressed in https://github.com/SatelliteQE/betelgeuse/pull/69

[2016-07-27 20:12] elyezer opened #73 "Provide more information when more than one test case is found"
When querying for a Test Case Betelgeuse use assert which will stop the test case update and will raise an exception. It will be better to have more information when that happens so the user can clearly know what have happened.

Betelgeuse should inform the user that the ID is returning more than one test case and it can't proceed.

[2016-07-27 20:13] elyezer commented on #68
I was not able to reproduce the exception, I am using latest Betelgeuse, Testimony and Pylarion.

I've tried the following:

[code]

[code]

[code]

All the above attempts worked well.

Looking at the bottom of the stack trace we can see that there is an assertion error and the only place we use assert o Betelgeuse test is https://github.com/SatelliteQE/betelgeuse/blob/master/betelgeuse.py#L467-L4

[2016-07-27 20:13] #68 closed

[2016-07-27 20:27] elyezer commented on #65
In order to follow all other token definitions Betelgeuse should support a `@title` token and fill the title if that token is present on the docstring or use the function/method name.

[2016-07-27 20:48] #65 closed

[2016-07-27 21:23] #70 closed

[2016-07-28 19:43] #72 closed

[2016-07-28 19:46] #54 closed

[2016-07-28 20:17] spoore1 commented on #65
Thanks guys!

[2016-08-01 14:02] elyezer commented on #65
@spoore1 thank you for the feature request, it is good to have control over the title.

[2016-08-01 14:51] sthirugn opened #76 "Improve betelgeuse's output to return test plan id, if requested by the caller."

[2016-09-02 11:33] Akasurde opened #78 "Add support for unicode characters in testcase"
Seems that betelgeuse fails to parse testcase docstring which contains unicode character

[code]

[2016-09-02 11:50] Akasurde commented on #78
@omaciel @elyezer  Can you suggest any work around for this issue ?

[2016-09-02 16:27] spoore1 opened #79 "test case steps and expectedresults missing"
I'm able to create new test cases and link to an existing requirement but, I'm no longer seeing the steps and expected results.

I'm using similar to this:

[code]
betelgeuse --token-prefix "@" test-case --path /root/test_suite_dir/test_cases.py RedHatEnterpriseLinux7

[2016-09-02 18:46] spoore1 commented on #79
FYI, I discovered that the issue seemed to be using single and double quotes in the steps.  I modified the steps to remove those and everything seemed to work as expected.

[2016-09-02 18:50] omaciel commented on #79
@spoore1 perhaps we should do some sanitation around this area?

[2016-09-02 18:55] elyezer commented on #79
@spoore1 if you can paste one step that was failing we can investigate and see how Betelgeuse can be improved.

[2016-09-02 20:52] spoore1 commented on #79
This was one of the steps I had that wasn't showing up:

[code]

[2016-09-06 12:11] elyezer commented on #79
@spoore1 that is because the `@` character on the steps. There is a known bug on testimony (https://github.com/SatelliteQE/testimony/issues/120) that prevents the same character used as the token prefix on the value of a token.

I will close this issue in favor of the testimony one.

[2016-09-06 12:11] #79 closed

[2016-09-06 13:35] spoore1 commented on #79
Ah, ok, I thought the quotes were causing the issue.  I didn't think about the @ in the user/principal name.

Thanks

[2016-09-20 19:28] omaciel opened #80 "Add test case `UUID` to generated xunit files"
# Reference
Please read our MOJO **DOC-1073077**.

## Request
Given a `xunit` file, create a new method to parse through the source code for automated tests, and update the XML file to include the test case UUID for each test found. For example, given the following (snippet) xunit file:

[code]

The new method should look at the source code for the test named `test_positive_synchronize_custom_prod

[2016-09-22 14:52] elyezer commented on #80
Thank you, I will make sure this issue gets worked on the next iteration.

[2016-09-28 17:39] omaciel commented on #80
@elyezer how is this task coming along?

[2016-09-29 13:53] elyezer commented on #80
@omaciel it is planned to be delivered tomorrow. I mean the change on the repo, the release that will include it may happen probably on next week.

[2016-09-29 22:55] omaciel opened #81 "PicklingError while creating a new requirement"
Saw the following error happen 4 times in a row while attempting to create a new `HotBackup` Requirement:

[code]

[2016-09-29 22:57] omaciel commented on #81
@elyezer can you investigate please? Look at Jenkins job `polarion-test-case/32/console` for more details

[2016-09-30 12:55] elyezer commented on #81
That `Not authorized` is an issue that happens from time to time and there is nothing we can do on our end... Need to raise an issue so they can fix.

I will take a look but it should be like the other times I tried when I could not resolve it and just wait for the server to come back working.

[2016-10-03 21:18] omaciel commented on #80
@elyezer got an update for me?

[2016-10-04 00:56] elyezer commented on #66
This is going to be a breaking change. I will remove from the current milestone and will add back or to a new one if needed.

An option can not be required, an argument should be used for that instead.

[2016-10-04 00:57] elyezer commented on #63
A skip message will be printed and the test case import will continue.

[2016-10-04 16:57] elyezer commented on #81
That was a temporary issue like happened before. I am going to close this.

[2016-10-04 16:57] #81 closed

[2016-10-06 19:16] #80 closed

[2016-10-07 20:53] elyezer opened #84 "Explicit include `polarion-` testrun properties for the xml-test-run command"
The properties: `polarion-set-testrun-finished`, `polarion-dry-run` and `polarion-include-skipped` should be defined even when the default importer value is selected. This will make clear what Betelgeuse is setting on the XML.

[2016-10-07 20:55] elyezer opened #85 "xml-test-run --status=inprogress option is not working"
Betelgeuse help statues that `--status` option can accepts `finished` and `inprogress` as possible values but when setting `inprogress` the generated XML does not have the expected property: `<property name="polarion-set-testrun-finished" value="false" />`.

[2016-10-10 18:05] #85 closed

[2016-10-11 14:39] #84 closed

[2016-11-01 14:19] elyezer opened #90 "xml-test-run command fails when the option --response-property isn't provided"
Here is the stack trace:

[code]

The validator callback needs to deal when `None` value is passed, for more information check [1]

[1] http://click.pocoo.org/6/options/#callbacks-and-eager-options

[2016-11-01 14:57] #90 closed

[2016-11-18 16:12] elyezer opened #92 "Drop token-prefix option"
https://github.com/SatelliteQE/testimony/pull/123 drops the token-prefix in favor of field-list RST syntax. Betelgeuse should reflect that change by dropping its token-prefix option too.

Whis issue should be worked and the testimony version must be pinned to at least the version where the token prefix is going to be dropped.

[2017-01-13 16:38] elyezer commented on #48
With the xml-test-case command this is already being handled. That command will be released on the next release and will make this issue invalid.

[2017-01-17 01:36] spoore1 opened #94 "Allow users to edit token's value"
Is it possible to add an option to prefix a test case title with the value passed on the command line?

So, I could have a test_0001.py:

[code]

Then to import I could run this:

`betelgeuse test-case --title-prefix "TEAM-TC: Feature Name: " --path test_0001.py PROJECT`

And in Polarion PROJECT, the test case Title would be:

`TEAM-TC: Feature Name: Running Feature with command option 1`

Would t

[2017-01-17 01:50] spoore1 commented on #92
Without token-prefix (and using a character other than colon), is it possible to use colons in the value side of the `:key:` part of the RST field list syntax?  I thought that was part of the reason the token-prefix option was added originally.

[2017-01-17 16:56] spoore1 opened #95 "add support for testrun-type-id"
Can we get support added for the polarion-testrun-type-id property?

Elyezer discovered that was missing while helping me troubleshoot an issue with xml-test-run.

Thanks,
Scott

[2017-01-17 17:51] elyezer commented on #92
@spoore1 you can have `:` on the value. The prefix was added because the desire to support RST's field-list which 1) produces better docs and 2) does not look like Java annotations.

The prefix was added as a feature to help migrating and allowing new code to start using the RST's field-list while giving some time to old code to get updated.

[2017-01-18 13:08] elyezer commented on #94
@spoore1 I will check but to maintain same behavior as other fields it would be something like:

[code]

And the title will be `TEAM-TC: Feature Name: Running Feature with command option 1`. Right now betelgeuse is assuming that the first line is the title, but it should consider the `:title:` field instead if it is present.

According to the current code it already considers that:

[code]

Which

[2017-01-18 17:05] spoore1 commented on #94
Sorry, I don't think I was clear.  I wasn't suggesting replacing :title:, I was suggesting if --title-prefix option is used from the command line add that string before the :title: value from code.  something like

if title_prefix:
  title = title_prefix + title

So regardless of whether it's using test method name or the ":title:" value from docstring, it would add the prefix to the beginning of

[2017-01-19 17:16] elyezer commented on #94
Now it makes sense but I don't think we would add that because imagine if someone wants to have a prefix for description for example that will require a new option, so on and so forth. Since this is based on a specific project need and Betelguese is meant to be more generic as possible that prefix needs to be repeated on each title.

I will continue thinking about this so maybe we can implement so

[2017-01-19 17:41] elyezer commented on #95
There is also another new options which is `polarion-testrun-template-id` will handle that as well.

[2017-01-19 18:05] #95 closed

[2017-01-27 21:49] spoore1 commented on #94
Your example above would work for me.  It would still greatly reduce the line length for Title in each test case.  Is that method a possibility?

[2017-01-27 21:52] spoore1 commented on #92
@elyezer I'm seeing issues using : in the value field.  For instance if I use a url in description, I see nothing get imported but, if I strip off http: , I do see the rest get imported:

Does not seem to work:

    :description: http://something.gitrepo.test/some/path

Seems to work:

    :description: something.gitrepo.test/some/path

Should I open this as a separate bug?

[2017-01-27 22:30] spoore1 opened #97 "support reading docstrings from conftest.py"
Is it possible to have betelgeuse also read a tests conftest.py file if it exists and the path is a directory that contains a conftest py file?

`[root@ipa1 betelgeuse_testcase_importer]# cat test2/conftest.py
"""
:requirement: IPA Feature 0001
:caselevel: Acceptance
:casecomponent: ipa
:caseautomation: Automated
:caseimportance: Medium
:testtype: Functional
:description: some default description

[2017-01-30 14:55] elyezer commented on #92
@spoore1 I checked and it is really not parsing properly:

[code]

The parser is implemented by Testimony, I have tried using testimony and added some print to see if the generated XML (which testimony uses to extract the information) is working. And as we can see:

[code]

It is working but the logic to check for steps is making that break https://github.com/SatelliteQE/testimony/blob/master/test

[2017-01-30 17:31] elyezer commented on #94
@spoore1 I think it is possible, just need to define which should be the markup to tell you want to include the super value and then extend it. I will think on a possibility to adding variable support. With that said, I am not sure about a due date because it would require a good effort to support that. I will update here when I have a plan.

[2017-01-30 20:34] elyezer commented on #97
Is the idea here of having project globals?

We already have context for module, classes and test methods. Adding support for conftest will open for requiring adding package level contexts. We can have that, but the focus right now is to deliver xml-test-case command. That said, if you want to contribute with a patch that would be awesome.

All the test collection and parsing is provided by Testim

[2017-01-30 20:45] elyezer commented on #94
I've been thinking about this issue and figured out that Betelgeuse user may want to add their business logic when providing the final value for a given token. With that in mind I think if Betelgeuse provides a way to specify a Python module where it can inspect and check for functions like `get_<token_name>` in order to get information for a given token that will allow users to do whatever they w

[2017-01-30 20:47] elyezer commented on #94
@spoore1 let me know what do you think about the proposal above.

Also I am going to be focusing on releasing the xml-test-case which is the base required feature. I will be able to work on improvements only after I finish the base features for the XML importers, currently, I am not able to define a date because I am depending on bug being fixed on the importers to proceed the Betelgeuse code is a

[2017-01-31 23:25] spoore1 commented on #97
Eleyezer,

The idea is kinda of like project globals I guess.  I have started adding certain labels to the docstrings for my modules if they would be identical for all methods in the class(es) in the file.  Just a way to simplify what goes into each function/method docstring.  Effectively treating them like module level globals.  Thus, I guess this would be a package (or directory) level global.

[2017-02-01 20:43] spoore1 commented on #94
@elyezer that sounds good to me.    More flexible than the original request.

And I completely understand about the priority of the xml imports.  I'm definitely interested in that feature as well.

Thanks,.
Scott

[2017-02-02 15:52] elyezer commented on #97
I am not sure if multiple conftest.py can exist inside the same package. If we decide on supporting multiple conftest we need to improve even more the contexts so conftest higher in the directory tree will be used if in a subdirectory does not have one, else the subdirectory will override the more generic one. Thinking a little bit more about that, I think we should only support package level cont

[2017-02-02 19:32] spoore1 commented on #97
I guess this depends on test coding style.  You can have multiple conftest.py files in a directory tree that isn't necessarily a python package.  Each conftest.py applies to the tests in its own directory.  For example,  my team simply installs our tests from git and executes py.test command.   We have test "suites" as separate directories with separate conftest.py files.

As for order of preceden

[2017-02-02 21:44] elyezer commented on #97
Either way is fine to me, subpackages inherit tokens from parent packages or only the modules within a package inherit from its `__init__.py` file.

About conftest, yes I agree that having package context will open even more the possibilities, then we can check if supporting conftest will continue being required.

[2017-03-02 21:02] omaciel opened #98 "Test Cases must provide new automation_script field"
Test Cases in Polarion now require the following field to be set: `automation_script`

This field will store a `URL` pointing to the location of the specific test case in the source code. Though one can provide a generic URL such as `https://github.com/SatelliteQE/robottelo`, we should be able to provide something more accurate such as `https://github.com/SatelliteQE/robottelo/blob/master/tests/fo

[2017-03-02 21:07] omaciel opened #99 "Test Cases must provide the approvee field"
Polarion now requires that `Test Cases` should provide the `approvee` field. I think that we can use the user running the script to populate this field at runtime.

**IMPORTANT**: the user running the script **must** have the `project_approver` role in order to be able to approve a `Test Case`.

Here's an example:

[code]

[2017-03-07 12:28] amsharma3 opened #100 "Automatic Test Specification Creation by betelgeuse"
Currently RHDS team is creating Test Specification in Polarion manually.

In our case, we create a test plan for each RFE/feature, and we add all the test case for that feature as work items to the test plan document.
Can we please modify betelgeuse to create such test plans automatically from command line, so that it can create all the headers as Scope, Purpose, Setup etc in a Polarion document(t

[2017-03-07 12:34] elyezer commented on #100
@amsharma3 do you map each RFE/feature as being a Requirement?

I am looking for a way to identify what are the test cases related to an RFE so Betelgeuse can create that for you.

[2017-03-07 12:52] amsharma3 commented on #100
@elyezer That is true, we map each RFE as a Requirement.
The workflow is like this (which we follow) -
1. Release Plan
2. Requirement Document - (which will have all the RFEs mapped to it as work items)
3. Test Specification Document for each RFE (feature) - which will have all the test cases mapped to it as work items
4. Then Test run

[2017-03-07 14:13] elyezer commented on #100
Talked with @amsharma3 and we came up with this RST file format for the Test Specification document:

[code]

[2017-03-07 14:59] elyezer commented on #98
If the AST can provide the module path like `tests/foreman/cli/test_contentview.py` and the line number where the testcase is defined then we could expect an `automation_script_url` option and the path + line number can be added after the URL.

Or offer some formatting like `{path}` and `{line_number}` so one can specify the URL based on the source control management. For example git web would hav

[2017-03-07 15:02] elyezer commented on #99
I think it should have an `approvee` on each docstring and then if not set use the user information or require a default-approvee option.

[2017-03-07 18:32] omaciel commented on #99
@elyezer as long as it is optional, I'm good with the proposal. It is assumed that the `approvee` will have the proper permission in Polarion, so we need to make sure to handle issues when this is not true (and provide a friendly message to the user)

[2017-03-07 18:35] omaciel commented on #98
@elyezer agreed and I think the module (full) path and file number is provided by AST, but I could be wrong. This should be optional.

[2017-03-07 22:10] #98 closed

[2017-03-07 23:27] elyezer commented on #99
@omaciel does it make sense to have more than one approvee? I mean if a test case is already created and approved, and a new aprovee is passed it should be added or replace or do not change?

[2017-03-07 23:36] omaciel commented on #99
I am almost 100% sure that you can have multiple approvees.

⁣Sent from my phone​

On Mar 7, 2017, 18:27, at 18:27, "Elyézer Rezende" <notifications@github.com> wrote:

[2017-03-21 12:41] elyezer commented on #99
Implementing this I saw that it is able to `add_approvee` but not `remove_approvee`. I can also edit an approval to say disapproved.

With that said, if the `approvees` token is filled with one or more approvees separated by comma then they will be added and the test case approved. But if that is removed I am not sure what action to take, disapprove the approval? (that is the only action that Pyla

[2017-03-21 17:22] elyezer commented on #99
Same as test case status, was decided that approvee will be automatically set to the first returned user by the `get_allowed_approvers` test case method, and the approval status changed to `approved`.

[2017-03-21 23:11] #99 closed

[2017-03-21 23:15] elyezer commented on #92
Token prefix was done by ec38bdde5543abd41b9c17dae3a1c6c974cc7fc4, closing this.

[2017-03-21 23:15] #92 closed

[2017-03-21 23:20] elyezer commented on #94
I've updated the title to match more what this issue will accomplish.

The plan will be to allow Betelgeuse to receive an optional path where it can import some methods (if present) to edit the token's value.

The API will be like described in  https://github.com/SatelliteQE/betelgeuse/issues/94#issuecomment-276184873.

[2017-03-23 13:04] elyezer opened #103 "upstream token is not valid across different project, make it editable only when present"
Check is upstream token is present and only if when present edit it. Not all projects have the upstream field.

[code]

[2017-03-30 13:08] elyezer commented on #103
After some more investigation was identified that the upstream field is needed and the project on the devel instance was not updated. With that said this issue can be closed.

[2017-03-30 13:08] #103 closed

[2017-04-05 01:20] elyezer commented on #39
Having another round checking this issue I realized that Betelgeuse is able to import py.test tests so it will create one test for each test function.

When creating the test run Polarion allows the definition of a parameter. That said Betelgeuse should read the parametrized jUnit report generated by py.test and properly create the test run or the XML to be imported by the xUnit test run importer.

[2017-04-05 01:26] elyezer opened #104 "Provide RST parsing errors and warnings"
Betelgeuse should only manage test cases that does not raises any RST parsing warnings and errors when parsing their docstring. Test cases with parsing warning or errors should be skipped and the user properly notified

[2017-04-24 21:22] #63 closed

[2017-04-24 21:22] #67 closed

[2017-04-24 21:35] elyezer commented on #78
@Akasurde I know it has been a while but do you still face this issue?

I wrote a test:

[code]

To check if that was failing and it is working. I can't reproduce it. One advice I have is, make sure that when using special characters on Python 2 that you define the encoding, for example, make this the first module's line:

[code]

I will submit the test and will close this issue. If you still faci

[2017-04-24 21:38] #78 closed

[2017-08-10 13:41] amsharma3 opened #105 "We should be able to pass some tokens (Requirement,CaseLevel, CaseImportance, TestType, etc.) through command line"
Requirement, CaseLevel, CaseImportance, TestType, etc. Tokens can be passed for all tests by default without specifying them in the python source code.

[2017-08-10 13:55] elyezer commented on #105
One should be able to specify default values for fields if it is not defined on the source code when running `betelgeuse test-case` command.

The current field value resolution order is shown below. The first found is used.

1. Test Case
2. Class
3. Module
4. Package

It will be changed in the way if that field is not available in any of those levels it will check for the default value and will us

[2017-09-04 19:13] elyezer commented on #105
Instead of accepting the default value from the command line now betelgeuse accepts a config module which allows the default values to be defined. Also functions can be used in order to generate the default value which gives the users more power when configuring it.

[2017-09-04 19:18] #36 closed

[2017-09-04 19:18] #105 closed

[2017-09-11 18:13] amsharma3 opened #106 "Please add Requirement and Automation Script fields to be used by Betelgeuse Configuration Module"
Hello,

Great functionality added in betelgeuse recently -  Betelgeuse Configuration Module. Excellent work!
I would like to use "Requirement" and "Automation Script" fields to be used in Config module for betelgeuse. Can you please add them in the list of custom fields. So, That I can put them in config module.

Thanks,
Amita

[2017-09-11 19:46] omaciel opened #107 "Make use of <testcase status-id="approved"> to update Test Case status"
Please add support to identify the test case status and make use of `<testcase status-id="approved">` to update it accordingly when generating the import XML for test cases.

[2017-09-12 00:41] #106 closed

[2017-09-12 01:06] elyezer commented on #107
Current WIP branch is available at https://github.com/SatelliteQE/betelgeuse/compare/issues/107.

In addition to the `status-id` attribute, there is also  the `approver-ids`. I think both need to be set in order to properly approve a test case but I don't have the confirmation yet. As soon as I confirm that I am going to update the changes (if needed) and get them merged.

[2017-09-12 01:08] elyezer commented on #106
I've got the changes to support the requested feature merged but I will only release it when #107 is resolved so I can include both on the 0.12 release.

[2017-09-12 12:18] elyezer opened #108 "Provide help message for the --config-module option"
Running `betelgeuse --help` shows the `--config-module` option but does not provide a help message. It would be better to provide some information there.

[2017-09-12 14:28] amsharma3 opened #109 "Document a list of custom fields and its values - IDs in Polarion"
It is really hard to dig into the Polarion and it also needs admin access to find out the the real custom IDs of fields and values to use them with in Config Module file for Betelgeuse Configuration Module feature.

It will be helpful to have them listed somewhere in a document or some readme file.
Thanks,
Amita

[2017-09-12 15:23] #107 closed

[2017-09-12 18:33] elyezer commented on #109
The custom fields and their enumerations are documented by the DOC-998663 on Mojo. Instead of duplicating that information and possibly getting outdated here, I think it will be better to reference people to it.

[2017-09-12 20:27] #109 closed

[2017-09-12 20:28] elyezer commented on #109
Reading the Mojo doc again I realized that there are some custom field enumerations that are not supposed to be customized per project. That said, I went ahead and documented only those field values.

[2017-12-20 00:39] spoore1 commented on #97
I didn't realize this one was still open.  I think it can be closed now right?  We just support the __init__.py docstrings instead of the conftest ones I originally suggested right?

[2017-12-20 00:46] spoore1 opened #110 "allow '.' as test path"
Can betelgeuse be updated to allow the use of '.' in commands for the test location path?

In one example of using test-run, I tried using . and when debugging, it was determined that the expected path it was looking for was listed as '..module.class.method'

I added a simple debug print to __init__.py of betelgeuse to print testcases before the error I saw and it showed this:

{'..test_0002_su_ad

[2017-12-21 14:00] elyezer commented on #97
@spoore1 yeah we can close this. Thank you!

[2018-03-14 17:55] omaciel opened #111 "Allow sending files to Polarion"
More info will be added here shortly.

[2018-03-14 20:54] geetikakay commented on #111
We are using Betelgeuse.Do we have an option for uploading document
    using Betelgeuse  in polarion Attachments?
This is going to help in case we wanted to add multiple log files and configuration files.
Sometimes we wanted to store the whole procedure which is really hard to put in docstrings due to parsing issues.

[2018-03-23 05:15] mrniranjan opened #112 "Request to parse multiple lines for fields like "title" in docstrings"
Fields like "title" where test case title is described sometimes are long (more than 80) and fail certain pep8 checks, So request to support .title be parsed when specified in multiple lines

Example:
:Title: Testsuite:Testfeature: verify user with more Ad use uid more than 80 characters
is able to login to RHEL Atomic Host

[2018-04-05 19:58] elyezer commented on #112
@mrniranjan  that is already possible, the issues is that you probably are not using the indentation that RST requires. Check this gist https://gist.github.com/elyezer/2932ac864172210578d46324bada3f53 so you can how it will be rendered and click on the `Raw` button to see how it is on the source code.

[2018-04-11 14:22] elyezer commented on #112
I am going to close this issue. Feel free to reopen or create a new one if the formatting is not the issue.

[2018-04-11 16:10] elyezer commented on #111
@geetikakay uploading documents can be done by using WSDL. The plan for this issue is to offer a way to do a POST to request the XML import to happen.

[2018-04-11 16:30] elyezer commented on #94
I am going to close this issue since this functionality is already supported by providing a config file. The config allows to specify functions to help get the field values, with that one using Betelgeuse is able to customize the field values programaticaly.

Check the docs http://betelgeuse.readthedocs.io/en/stable/config.html for more information on how to create your config file.

[2018-04-11 16:30] #94 closed

[2018-04-11 19:58] geetikakay commented on #111
@elyezer In my case i need to add 2-3 files in every test case and there are around 50 test cases.Doing it manually is a pain.So are we going to POST attachment based on uuid that gets generated?

[2018-04-12 13:46] elyezer commented on #111
@geetikakay you can use Betelgeuse as library and use its test collection tools so you can inspect the test case docstring fields. With the ID information you can figure out the files and use WSDL library to upload them.

The idea of Betelgeuse is to make easier to use the XML importers and we avoid duplicating any feature that WSDL interface offers.

PS: we talked on IRC but I wanted to leave thi

[2018-07-18 12:55] elyezer opened #113 "Make Betelgeuse Python 3.6+ only"
I am opening this issue to collect usage and plan when Betelgeuse will be Python 3.6+ only.

The only dependency that Betelgeuse has that blocks it to be py3 only is pylarion which is py2 only, Betelgeuse code base should be py3 already or will require minimum changes though.

That said, the plan will be to drop pylarion as dependency and with that the commands  `test-plan` and `requirement` will

[2018-07-18 15:05] elyezer opened #114 "Update the betelgeuse requirement command to generate the XML for the Requirement Importer"
Now we also have the Requirement Importer and with that `betelgeuse requirement` command should be updated to generate the XML file suited to be importer by the Requirement Importer.

With this we will have the same workflow for test-case, test-run and requirement commands which is: run the command to generate the XML file, submit the generated XML file to the respective importer and watch for the

[2018-07-19 09:22] mbukatov opened #115 "Pytest style parametrization"
Could betelgeuse handle pytest style parametrization, reporting each combination from expanded parametrization matrix as unique test case?

[2018-07-24 09:47] elyezer commented on #115
Betelgeuse can't do that since it does static code analysis just like a linter. The pytest marks are dynamic, they need to import the code so that decorators are evaluated in order to add those marks.

I've created https://github.com/elyezer/pytest-betelgeuse to do some research on being able to parse the parameters. Unfortunately I got very busy on the other projects that I was not able to get th

[2018-07-30 07:10] mbukatov commented on #115
Thanks for the update. That means I can't use betelgeuse to get my current test case code importable right now.

My plan is to create sphinx autodoc directives which would be able to statically analyze pytest test cases (parsing the python source code into ast and using some pytest functions on top of that) to generate sphinx representation of the test case (in a similar way how autodoc is used to

[2018-07-31 18:49] elyezer commented on #115
@mbukatov I am very close to a release on another project I am working on and I am not able to push the code I have for the pytest-plugin. I will try to get this pushed this or next week.

I will let you know about it.

[2018-07-31 18:57] mbukatov commented on #115
@elyezer No problem, I can relate to that (I wasn't able to spend much time on writing the plugins as I sketched above neither and so I was looking at betelgeuse as a way to kickstart the import). Thanks for the reply.

[2018-10-29 18:50] spoore1 opened #116 "test case id not derived by test-run"
I created test cases without including ":id:" in the docstring. This worked fine and it autogenerated the id's using the module.class.method string as described.

When I tried to use test-run to build the xunit file for import, this did not work and I got errors and was unable to create the test run with the generated xunit file.

Could not find ID information for test_tlog.TestTlogRec.test_record

[2018-10-31 12:56] #116 closed

[2019-02-25 13:09] abalakh commented on #113
Ping. Are there any updates?

`robottelo` is py3 only (and some time ago @omaciel asked to explicitly remove all workarounds for backwards compatibility), but we can't really use new py3 features like, for example, f-strings as otherwise parsing for betelgeuse will fail, so we can't fully use py3 until this issue is resolved.

[2019-03-13 03:18] elyezer commented on #113
@abalakh this can be done now but will remove any compatibility with Pylarion since it won't be updated. This was not done before because of the dependency on Pylarion.

[2019-03-13 15:36] mirzal opened #118 "[test-case] Higher-level metadata might be used when keys use inconsistent casing"
Test case metadata key casing generally doesn't matter - keys are in lowercase in final XML.

If the same key is provided at different levels (package, module, class, test), but using different casing, it might happen that value from higher level will override value from lower level. In other words: value specified at module level will be used instead of value specified at case level.

That was di

[2019-05-18 23:10] spoore1 commented on #113
Can you fork or branch a python3 only version?  or better yet, maybe create a legacy branch with pylarion?

[2019-05-19 02:49] elyezer commented on #113
I would love to do that. I will do ASAP this week.

On Sat, May 18, 2019, 19:10 Scott Poore <notifications@github.com> wrote:

[2019-05-20 19:51] elyezer commented on #113
Here is the plan that I will be putting in place:

* Drop pylarion requirement
* Update Betelgeuse to be Python 3.6+ only
* Make any command that depended on Pylarion to show a message saying that is not available anymore and it will be removed.

With all that I will be releasing version 1.0.0 and then later on 1.1 will drop the commands that depended on Pylarion. How does this sound @abalakh @spo

[2019-05-20 20:35] spoore1 commented on #113
Sure, that sounds good to me.

[2019-05-20 20:44] elyezer commented on #113
Here are the changes that I am planning to merge https://github.com/SatelliteQE/betelgeuse/pull/120. Feel free to provide any feedback.

[2019-05-24 18:38] #113 closed

[2019-05-24 18:42] #118 closed

[2019-07-18 12:52] mirekdlugosz opened #121 "pylarion now supporting python 3"
An email came hour ago announcing that pylarion now supports Python 3. Everything that was removed during 2 -> 3 transition can be most likely brought back, maybe with slight changes.

[2019-07-30 04:06] elyezer commented on #121
The requirements management was the important feature that was dropped but now an importer is available for it.

That said, I don't have plans to bring pylarion usage to Betelgeuse. I would invest time implementing the requirements XML feature which is lacking in the current version.

[2019-08-07 08:20] patchkez opened #122 "Traceback when running betelgeuse for insights tests"
Hi guys,
we are running betelgeuse in our Jenkins pipeline and we are facing this issue recently:
[code]

I did some investigation and it seems to me is there is some formatting problem with some test docstring. Is there any way how to enable debugging to see which test case is problematic? Can you help me troubleshoot this further please?

[2019-08-07 09:30] mirekdlugosz commented on #122
Unfortunately no, betelgeuse does not have any debug mode available...

Is your test case repository public? Or internal to Red Hat? In latter case, can you send me a link? My LDAP id is `mzalewsk`.

It's not revolutionary idea, but I would first try to reproduce problem globally, and then set breakpoint in `betelgeuse/parser.py` line 167, to identify test case that causes this exception. Probably

[2019-08-07 16:10] patchkez commented on #122
@mirzal thank you for your help. Problematic '\b' was removed from docstring and it seems it is working again.

[2019-08-07 16:10] #122 closed

[2019-10-29 20:25] elyezer commented on #115
This issue will be handled by https://github.com/SatelliteQE/betelgeuse/pull/123

[2019-11-08 05:36] #114 closed

[2019-11-08 05:54] elyezer commented on #76
Test plan command is now removed. We can close this.

[2019-11-08 05:54] #76 closed

[2019-11-08 05:56] elyezer commented on #55
The default Betelgeuse configuration provides the values for the fields. All that is presented by this section in the docs https://betelgeuse.readthedocs.io/en/latest/config.html#default-configuration, so we can go ahead and close this one.

[2019-11-08 05:56] #55 closed

[2019-11-08 06:00] elyezer commented on #66
The test-run command now have the `source_code_path` (equivalent to `--path-to-source`) and `output_path` (equivalent to `--path`) as arguments and therefore they are required. See the usage:

[code]

With that we can go ahead and close this.

[2019-11-08 06:00] #66 closed

[2019-11-08 06:02] elyezer commented on #39
This issue will be handled by https://github.com/SatelliteQE/betelgeuse/pull/123

[2019-11-08 06:02] elyezer commented on #115
Closing as duplicate of https://github.com/SatelliteQE/betelgeuse/issues/39

[2019-11-08 06:02] #115 closed

[2019-11-08 06:05] elyezer commented on #121
Requirement command is now added by https://github.com/SatelliteQE/betelgeuse/pull/127 and the test-plan command is removed by https://github.com/SatelliteQE/betelgeuse/pull/129. With that there is no need to bring pylarion back and we can avoid having a dependency on a private project.

[2019-11-08 06:05] #121 closed

[2019-11-08 06:08] elyezer commented on #100
Betelgeuse dropped pylarion dependency and only generates XML files to the importers. Since we don't have an importer to help creating the test specification we can close this issue.

In case we happen to have the test specification importer in the future we can either reopen this issue or create a new one.

[2019-11-08 06:08] #100 closed

[2019-11-08 06:10] elyezer commented on #73
This is not applicable anymore.

[2019-11-08 06:10] #73 closed

[2019-11-08 06:40] #110 closed

[2019-11-08 06:46] elyezer commented on #52
I can't reproduce this with the latest version of Betelgeuse.

[2019-11-08 06:46] #52 closed

[2019-11-08 20:35] #39 closed

[2020-08-19 08:12] jyejare opened #130 ""betelgeuse test-run --status inprogress" isnt updating the test-run correctly"
Running `betelgeuse test-run --status inprogress` runs and includes `<property name="polarion-set-testrun-finished" value="false" />` in the importer xml but when importer imports the xml, the test run changes the state to `Finished`.

Please look into it.

As per the last discussion with @elyezer, Polarion have changed the property to `polarion-testrun-status-id`.

[2020-08-19 14:51] #130 closed

[2020-08-19 15:02] mshriver commented on #130
I think this fix is incomplete at this point, as the XML needs to actually have the testrun status as a string value in the attribute, like `<property name="polarion-testrun-status-id" value="inprogress"/>`. The update in #131 will set `<property name="polarion-testrun-status-id" value="true"/>` since its still comparing to expected strings and setting a boolean.

[2020-08-19 15:28] elyezer commented on #130
That is correct @mshriver, I've merged the PR because the tests needed some love and linter was failing. I will get everything updated soon.

[2020-08-19 15:32] elyezer commented on #130
Updates are now in, see https://github.com/SatelliteQE/betelgeuse/commit/2fd5377e726a79604dc4100443a65b4bf11c947c

[2021-06-17 18:48] XiyangDong opened #133 "AttributeError: 'xml.etree.ElementTree.Element' object has no attribute 'getchildren' with Python 3.9"
Hello, when running betelgeuse test-run command in python 3.9 I see below traceback:
[code]
getchildren was deprecated and in 3.9 it was removed from python library.  Please update code.

[2021-07-01 23:02] XiyangDong commented on #133
Also another issue related to this line 'testsuite = testsuite.getchildren()[0]'  in https://github.com/SatelliteQE/betelgeuse/blob/master/betelgeuse/__init__.py#L843

We should iterate through testcases in every testsuite instead of only [0], otherwise for junit file like below it won't work:

[code]

[2021-09-13 18:10] elyezer opened #136 "Move to Github Actions"
Betelgeuse has been using Travis CI due to historic reason and now that Github Actions are in place and available to Open Source projects we can consider moving the checks there.

[2021-09-16 12:32] #133 closed

[2022-02-07 01:00] XiyangDong commented on #133
Hello I am still seeing this issue on line https://github.com/SatelliteQE/betelgeuse/blob/master/betelgeuse/__init__.py#L843
Shall we reopen this ticket and fix that?